<h1 mat-dialog-title class="dialog-icon-title">
  <span>{{ type }}</span>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h1>
<mat-dialog-content class="content-padding" [dir]="direction">
  @for (segment of segments; track $index) {
    @if (segment.url == null) {
      <span [textContent]="segment.text"></span>
    } @else {
      <a [href]="segment.url" target="_blank" rel="noopener noreferrer" [textContent]="segment.text"></a>
    }
  }
</mat-dialog-content>
