{
  "users": [
    {
      "email": "user+pt_administrator@example.com",
      "password": "password"
    },
    {
      "email": "user+pt_translator@example.com",
      "password": "password"
    },
    {
      "email": "user+pt_consultant@example.com",
      "password": "password"
    },
    {
      "email": "user+pt_observer@example.com",
      "password": "password"
    },
    {
      "email": "user+sf_e2e_admin@example.com",
      "password": "password"
    }
  ]
}
